<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Sidebar -->
<div id="sidebar" class="sidebar">
    <button id="close-btn" class="close-btn"><i class="fa fa-times"></i></button> <!-- Botão para fechar -->
    <h2>Sugestões</h2>
    
        
</div>

<!-- Off-menu Button -->
<button id="off-menu-btn" class="off-menu-btn"><i class="fa fa-bars"></i></button>

<script>
    // Função para abrir e fechar a sidebar
    document.getElementById('off-menu-btn').onclick = function () {
        var sidebar = document.getElementById('sidebar');
        sidebar.classList.toggle('active');
        // Salva o estado no localStorage
        localStorage.setItem('sidebarState', sidebar.classList.contains('active'));
    };

    // Função para fechar a sidebar
    document.getElementById('close-btn').onclick = function () {
        var sidebar = document.getElementById('sidebar');
        sidebar.classList.remove('active');
        // Salva o estado no localStorage
        localStorage.setItem('sidebarState', 'false');
    };
    // Carregar o estado salvo ao carregar a página
    window.onload = function () {
        var sidebar = document.getElementById('sidebar');
        // Verifica se o estado foi salvo no localStorage
        if (localStorage.getItem('sidebarState') === 'true') {
            sidebar.classList.add('active');
        }
    };

    // Fechar a sidebar ao clicar fora dela
    document.addEventListener('click', function (event) {
        var sidebar = document.getElementById('sidebar');
        var isClickInside = sidebar.contains(event.target) || document.getElementById('off-menu-btn').contains(event.target);
        if (!isClickInside) {
            sidebar.classList.remove('active');
            localStorage.setItem('sidebarState', 'false'); // Atualiza o estado no localStorage
        }
    });


</script>